
*
!.gitignore
!CorsikaFileIO/
!CorsikaFileIO/crsRead/
!CorsikaInterface/
!CorsikaInterface/interface/
!CorsikaIntern/
!CorsikaIntern/crs/
!CorsikaROOT/
!CorsikaROOT/crsIO/
!CorsikaToROOT/
!CorsikaToROOT/crs2r/
!Documentation/
!Documentation/Examples/
!Documentation/Examples/master/
!Documentation/Examples/master/3D/
!Documentation/Examples/novice/
!Documentation/Examples/novice/advanced/
!Documentation/Examples/novice/expert/
!Documentation/Examples/novice/medium/
!Documentation/Examples/novice/simple/
!config/
!rootout/
!AUTHORS
!COASTconfig.h
!COASTconfig.h.in
!ChangeLog
!CorsikaFileIO/MCorsikaReader.cc
!CorsikaFileIO/MCorsikaReader.h
!CorsikaFileIO/MLongfileReader.cc
!CorsikaFileIO/MLongfileReader.h
!CorsikaFileIO/MParticleSubBlockOutput.cc
!CorsikaFileIO/MParticleSubBlockOutput.h
!CorsikaFileIO/Makefile.am
!CorsikaFileIO/Makefile.in
!CorsikaFileIO/TCorsikaReader.cc
!CorsikaFileIO/TCorsikaReader.h
!CorsikaFileIO/TSubBlockIO.cc
!CorsikaFileIO/TSubBlockIO.h
!CorsikaFileIO/crsRead/MCorsikaReader.h
!CorsikaFileIO/crsRead/MLongfileReader.h
!CorsikaFileIO/crsRead/MParticleSubBlockOutput.h
!CorsikaFileIO/crsRead/TCorsikaReader.h
!CorsikaFileIO/crsRead/TSubBlockIO.h
!CorsikaInterface/CorsikaInterface.h
!CorsikaInterface/Makefile.am
!CorsikaInterface/Makefile.in
!CorsikaInterface/interface/CorsikaInterface.h
!CorsikaIntern/CInteraction.cc
!CorsikaIntern/CInteraction.h
!CorsikaIntern/CParticle.cc
!CorsikaIntern/CParticle.h
!CorsikaIntern/CorsikaConsts.h
!CorsikaIntern/CorsikaTypes.h
!CorsikaIntern/IParticleReadout.cc
!CorsikaIntern/IParticleReadout.h
!CorsikaIntern/MCherenkov.cc
!CorsikaIntern/MCherenkov.h
!CorsikaIntern/MEventEnd.cc
!CorsikaIntern/MEventEnd.h
!CorsikaIntern/MEventHeader.cc
!CorsikaIntern/MEventHeader.h
!CorsikaIntern/MLongitudinalBlock.cc
!CorsikaIntern/MLongitudinalBlock.h
!CorsikaIntern/MMuonProductionInfo.cc
!CorsikaIntern/MMuonProductionInfo.h
!CorsikaIntern/MParticle.cc
!CorsikaIntern/MParticle.h
!CorsikaIntern/MParticleBlock.cc
!CorsikaIntern/MParticleBlock.h
!CorsikaIntern/MRunEnd.cc
!CorsikaIntern/MRunEnd.h
!CorsikaIntern/MRunHeader.cc
!CorsikaIntern/MRunHeader.h
!CorsikaIntern/Makefile.am
!CorsikaIntern/Makefile.in
!CorsikaIntern/TBlock.cc
!CorsikaIntern/TBlock.h
!CorsikaIntern/TLongitudinal.cc
!CorsikaIntern/TLongitudinal.h
!CorsikaIntern/TParticleBlockEntry.cc
!CorsikaIntern/TParticleBlockEntry.h
!CorsikaIntern/TSubBlock.cc
!CorsikaIntern/TSubBlock.h
!CorsikaIntern/crs/CInteraction.h
!CorsikaIntern/crs/CParticle.h
!CorsikaIntern/crs/CorsikaConsts.h
!CorsikaIntern/crs/CorsikaTypes.h
!CorsikaIntern/crs/IParticleReadout.h
!CorsikaIntern/crs/MCherenkov.h
!CorsikaIntern/crs/MEventEnd.h
!CorsikaIntern/crs/MEventHeader.h
!CorsikaIntern/crs/MLongitudinalBlock.h
!CorsikaIntern/crs/MMuonProductionInfo.h
!CorsikaIntern/crs/MParticle.h
!CorsikaIntern/crs/MParticleBlock.h
!CorsikaIntern/crs/MRunEnd.h
!CorsikaIntern/crs/MRunHeader.h
!CorsikaIntern/crs/TBlock.h
!CorsikaIntern/crs/TLongitudinal.h
!CorsikaIntern/crs/TParticleBlockEntry.h
!CorsikaIntern/crs/TSubBlock.h
!CorsikaROOT/DirectROOTLinkDef.h
!CorsikaROOT/Makefile.am
!CorsikaROOT/Makefile.in
!CorsikaROOT/TCherenkov.cc
!CorsikaROOT/TCherenkov.h
!CorsikaROOT/TLongitudinal.cc
!CorsikaROOT/TLongitudinal.h
!CorsikaROOT/TParticle.cc
!CorsikaROOT/TParticle.h
!CorsikaROOT/TRun.cc
!CorsikaROOT/TRun.h
!CorsikaROOT/TShower.cc
!CorsikaROOT/TShower.h
!CorsikaROOT/crsIO/TCherenkov.h
!CorsikaROOT/crsIO/TLongitudinal.h
!CorsikaROOT/crsIO/TParticle.h
!CorsikaROOT/crsIO/TRun.h
!CorsikaROOT/crsIO/TShower.h
!CorsikaToROOT/MCorsikaReader.cc
!CorsikaToROOT/MCorsikaReader.h
!CorsikaToROOT/Makefile.am
!CorsikaToROOT/Makefile.in
!CorsikaToROOT/TC2R.cc
!CorsikaToROOT/TC2R.h
!CorsikaToROOT/corsika2root.cc
!CorsikaToROOT/crs2r/MCorsikaReader.h
!CorsikaToROOT/crs2r/TC2R.h
!Documentation/Doxy_MainPage.dox
!Documentation/Doxy_footer.html
!Documentation/Doxyfile.in
!Documentation/Examples/master/3D/Interface.cc
!Documentation/Examples/master/3D/Makefile
!Documentation/Examples/master/3D/TPlotter.cc
!Documentation/Examples/master/3D/TPlotter.h
!Documentation/Examples/novice/advanced/CorsikaROOTPlotter.cc
!Documentation/Examples/novice/advanced/CorsikaROOTPlotterInterface.cc
!Documentation/Examples/novice/advanced/Makefile
!Documentation/Examples/novice/advanced/TCorsikaPlotter.cc
!Documentation/Examples/novice/advanced/TCorsikaPlotter.h
!Documentation/Examples/novice/advanced/TSimpleReader.cc
!Documentation/Examples/novice/advanced/TSimpleReader.h
!Documentation/Examples/novice/expert/CompareAnim.cc
!Documentation/Examples/novice/expert/ExpertInterface.cc
!Documentation/Examples/novice/expert/MakeAnim.cc
!Documentation/Examples/novice/expert/MakeAnim2D.cc
!Documentation/Examples/novice/expert/Makefile
!Documentation/Examples/novice/expert/TPlotter.cc
!Documentation/Examples/novice/expert/TPlotter.h
!Documentation/Examples/novice/expert/extractTH2D.C
!Documentation/Examples/novice/medium/Makefile
!Documentation/Examples/novice/medium/ReaderExample.cc
!Documentation/Examples/novice/medium/TReaderExample.cc
!Documentation/Examples/novice/medium/TReaderExample.h
!Documentation/Examples/novice/simple/CorsikaPlotter.cc
!Documentation/Examples/novice/simple/Makefile
!Documentation/Makefile.am
!Documentation/Makefile.in
!INSTALL
!Makefile.am
!Makefile.am.common
!Makefile.in
!Makefile.userlib
!README
!acinclude.m4
!aclocal.m4
!config/config.guess
!config/config.sub
!config/depcomp
!config/install-sh
!config/ltmain.sh
!config/missing
!config.log
!configure
!configure.in
!rootout/CorsikaROOTOut.cc
!rootout/MachineIndependent.cc
!rootout/Makefile.am
!rootout/Makefile.in
