# Config for COAST/plot2D

# file type to produce
output-extension png

# background color
bg-color 1.0 1.0 1.0 # rgb

# particle color definitions: name id red green blue
particle gamma     1 1 0 0
particle electron  3 1 0 0
particle positron  2 1 0 0
particle muon      6 0 1 0
particle amoun     5 0 1 0
particle proton   14 0 0 1
particle aproton  15 0 0 1
particle pi+       8 0 0 1
particle pi-       9 0 0 1

# boost muons/hadron
weight-boost-muons 1
weight-boost-hadrons 1

# geometry definition
auto-range    1   # if '1' the shower horizonatl range will be optimal
xmin       -0.05 # km
xmax        0.05 # km
ymin       -0.1   # km
ymax       33.0   # km
stretch_x  50     # to zoom into the lateral shower structure
pxl_per_km 50     # resolution
