*
!.gitignore
!EGSDAT6_.05
!EGSDAT6_.15
!EGSDAT6_.25
!EGSDAT6_.4
!EGSDAT6_1.
!EGSDAT6_3.
!Makefile
!Makefile.am
!Makefile.in
!NUCNUCCS
!QGSDAT01
!SECTNU
!UrQMD-1.3.1-xs.dat
!VENUSDAT
!all-inputs
!all-inputs-epos
!all-inputs-nexus
!all-inputs-st
!all-inputs-stackin
!all-inputs-thin
!atmabs.dat
!conex-3D-inputs
!corsika77000Linux_*
!dpmCT14LL.pds
!dpmjpar.dat
!glaubint.glb
!glaubtar.glb
!gr3.txt
!mirreff.dat
!parallel-inputs
!qgsdat-II-04
!quanteff.dat
!sectnu-II-04
