
*
!.gitignore
!3D/
!CorsikaRead/
!Histogram/
!InclinedPlane/
!THRadio/
!plot2D/
!3D/COAST3DConfig.config
!3D/Interface.cc
!3D/Makefile
!3D/TPlotter.cc
!3D/TPlotter.h
!ChangeLog
!CorsikaRead/CorsikaPlotter.cc
!CorsikaRead/Makefile
!Histogram/HistogramInterface.cc
!Histogram/LICENCE
!Histogram/MakeAnim.cc
!Histogram/Makefile
!Histogram/TCorsika.cc
!Histogram/TCorsika.h
!Histogram/TPlotter.cc
!Histogram/TPlotter.h
!Histogram/TUser.cc
!Histogram/rootplot.cc
!InclinedPlane/InclinedPlane.cc
!InclinedPlane/Makefile
!InclinedPlane/Plane.h
!InclinedPlane/TPlotter.cc
!InclinedPlane/TPlotter.h
!THRadio/LICENCE
!THRadio/MakeAnim.cc
!THRadio/Makefile
!THRadio/TCorsika.cc
!THRadio/TCorsika.h
!THRadio/THRadioInterface.cc
!THRadio/TPlotter.cc
!THRadio/TPlotter.h
!THRadio/histprofile.cc
!THRadio/rootplot.cc
!makeDist
!plot2D/COAST2DConfig.config
!plot2D/Makefile
!plot2D/Plot2DGround.cc
!plot2D/Plot2DInterface.cc
!plot2D/Plot2DTest.cc
!plot2D/TPlotter.cc
!plot2D/TPlotter.h
!plot2D/corsika.flat.inp
