*
!.gitignore
!baack/
!baack/test/
!baack/test/dynstack/
!baack/test/lib/
!baack/test/lib/data/
!baack/test/lib/io/
!baack/test/lib/meta/
!baack/test/remote_control/
!bernlohr/
!coast/
!coast/CorsikaFileIO/
!coast/CorsikaInterface/
!coast/CorsikaIntern/
!coast/CorsikaOptions/
!coast/CorsikaOptions/CoREAS/
!coast/CorsikaOptions/CoREAS/doc/
!coast/CorsikaOptions/CoREAS/doc/examples/
!coast/CorsikaOptions/InclinedPlane/
!coast/CorsikaOptions/example/
!coast/CorsikaOptions/rootout/
!coast/CorsikaROOT/
!coast/CorsikaToROOT/
!coast/Documentation/
!coast/Documentation/Examples/
!coast/Documentation/Examples/master/
!coast/Documentation/Examples/master/3D/
!coast/Documentation/Examples/novice/
!coast/Documentation/Examples/novice/advanced/
!coast/Documentation/Examples/novice/expert/
!coast/Documentation/Examples/novice/medium/
!coast/Documentation/Examples/novice/simple/
!conex/
!config/
!doc/
!dpmjet/
!epos/
!herwig/
!include/
!lib/
!m4/
!nexus/
!pythia/
!run/
!src/
!src/parallel/
!src/preshower2.0-rev/
!src/utils/
!src/utils/coast/
!src/utils/coast/CorsikaMerge/
!src/utils/coast/CorsikaRead/
!urqmd/
!AUTHORS
!COPYING
!ChangeLog
!INSTALL
!Makefile.am
!Makefile.in
!NEWS
!README
!acinclude.m4
!aclocal.m4
!baack/Makefile.am
!baack/Makefile.in
!baack/baack-1.00.tar.gz
!baack/test/dynstack/advanced_test.cpp
!baack/test/dynstack/advanced_test.h
!baack/test/dynstack/common_test_function.h
!baack/test/dynstack/storage_test.cpp
!baack/test/dynstack/storage_test.h
!baack/test/dynstack/unit_test.cpp
!baack/test/dynstack/unit_test.h
!baack/test/dynstack/wrapper_test.cpp
!baack/test/dynstack/wrapper_test.h
!baack/test/lib/data/particle_test.cpp
!baack/test/lib/data/particle_test.h
!baack/test/lib/io/client_test.cpp
!baack/test/lib/io/client_test.h
!baack/test/lib/io/dns_lookup_test.cpp
!baack/test/lib/io/dns_lookup_test.h
!baack/test/lib/io/server_test.cpp
!baack/test/lib/io/server_test.h
!baack/test/lib/io/socket_test.cpp
!baack/test/lib/io/socket_test.h
!baack/test/lib/meta/is_callable_test.cpp
!baack/test/lib/meta/is_callable_test.h
!baack/test/lib/meta/list_test.cpp
!baack/test/lib/meta/list_test.h
!baack/test/lib/meta/tuple_test.cpp
!baack/test/lib/meta/tuple_test.h
!baack/test/lib/unit_test.cpp
!baack/test/lib/unit_test.h
!baack/test/remote_control/message_queue_test.cpp
!baack/test/remote_control/message_queue_test.h
!baack/test/remote_control/protocol_test.cpp
!baack/test/remote_control/protocol_test.h
!baack/test/remote_control/unit_test.cpp
!baack/test/remote_control/unit_test.h
!bernlohr/EventioRegisteredNames.dat
!bernlohr/Makefile.am
!bernlohr/Makefile.in
!bernlohr/README.corsika
!bernlohr/bernlohr-1.59.tar.gz
!bernlohr/ztestlib.c
!cDO_NOT_RUN_CONFIGURE
!coast/AUTHORS
!coast/ChangeLog
!coast/CorsikaFileIO/MCorsikaReader.cc
!coast/CorsikaFileIO/MCorsikaReader.h
!coast/CorsikaFileIO/MLongfileReader.cc
!coast/CorsikaFileIO/MLongfileReader.h
!coast/CorsikaFileIO/MParticleSubBlockOutput.cc
!coast/CorsikaFileIO/MParticleSubBlockOutput.h
!coast/CorsikaFileIO/Makefile.am
!coast/CorsikaFileIO/Makefile.in
!coast/CorsikaFileIO/README
!coast/CorsikaFileIO/TCorsikaReader.cc
!coast/CorsikaFileIO/TCorsikaReader.h
!coast/CorsikaFileIO/TSubBlockIO.cc
!coast/CorsikaFileIO/TSubBlockIO.h
!coast/CorsikaFileIO/check_corsika.cc
!coast/CorsikaFileIO/merge_corsika.cc
!coast/CorsikaInterface/CorsikaInterface.h
!coast/CorsikaInterface/Makefile.am
!coast/CorsikaInterface/Makefile.in
!coast/CorsikaIntern/CInteraction.cc
!coast/CorsikaIntern/CInteraction.h
!coast/CorsikaIntern/CParticle.cc
!coast/CorsikaIntern/CParticle.h
!coast/CorsikaIntern/CorsikaConsts.h
!coast/CorsikaIntern/CorsikaTypes.h
!coast/CorsikaIntern/IParticleReadout.cc
!coast/CorsikaIntern/IParticleReadout.h
!coast/CorsikaIntern/MCherenkov.cc
!coast/CorsikaIntern/MCherenkov.h
!coast/CorsikaIntern/MEventEnd.cc
!coast/CorsikaIntern/MEventEnd.h
!coast/CorsikaIntern/MEventHeader.cc
!coast/CorsikaIntern/MEventHeader.h
!coast/CorsikaIntern/MLongitudinalBlock.cc
!coast/CorsikaIntern/MLongitudinalBlock.h
!coast/CorsikaIntern/MMuonProductionInfo.cc
!coast/CorsikaIntern/MMuonProductionInfo.h
!coast/CorsikaIntern/MParticle.cc
!coast/CorsikaIntern/MParticle.h
!coast/CorsikaIntern/MParticleBlock.cc
!coast/CorsikaIntern/MParticleBlock.h
!coast/CorsikaIntern/MRunEnd.cc
!coast/CorsikaIntern/MRunEnd.h
!coast/CorsikaIntern/MRunHeader.cc
!coast/CorsikaIntern/MRunHeader.h
!coast/CorsikaIntern/Makefile.am
!coast/CorsikaIntern/Makefile.in
!coast/CorsikaIntern/PersistentParticle.cc
!coast/CorsikaIntern/PersistentParticle.h
!coast/CorsikaIntern/TBlock.cc
!coast/CorsikaIntern/TBlock.h
!coast/CorsikaIntern/TLongitudinal.cc
!coast/CorsikaIntern/TLongitudinal.h
!coast/CorsikaIntern/TParticleBlockEntry.cc
!coast/CorsikaIntern/TParticleBlockEntry.h
!coast/CorsikaIntern/TSubBlock.cc
!coast/CorsikaIntern/TSubBlock.h
!coast/CorsikaOptions/CoREAS/Makefile.am
!coast/CorsikaOptions/CoREAS/Makefile.in
!coast/CorsikaOptions/CoREAS/ResponseTable.cpp
!coast/CorsikaOptions/CoREAS/ResponseTable.h
!coast/CorsikaOptions/CoREAS/TCorsika.cc
!coast/CorsikaOptions/CoREAS/TCorsika.h
!coast/CorsikaOptions/CoREAS/THRadioInterface.cc
!coast/CorsikaOptions/CoREAS/TPlotter.cc
!coast/CorsikaOptions/CoREAS/TPlotter.h
!coast/CorsikaOptions/CoREAS/antennaposition.cpp
!coast/CorsikaOptions/CoREAS/antennaposition.h
!coast/CorsikaOptions/CoREAS/datapoint.cpp
!coast/CorsikaOptions/CoREAS/datapoint.h
!coast/CorsikaOptions/CoREAS/definitions.h
!coast/CorsikaOptions/CoREAS/doc/coreas-manual.pdf
!coast/CorsikaOptions/CoREAS/doc/coreas-manual.tex
!coast/CorsikaOptions/CoREAS/doc/examples/RUN000001.inp
!coast/CorsikaOptions/CoREAS/doc/examples/SIM000001.gnu
!coast/CorsikaOptions/CoREAS/doc/examples/SIM000001.list
!coast/CorsikaOptions/CoREAS/doc/examples/SIM000001.reas
!coast/CorsikaOptions/CoREAS/grid.cpp
!coast/CorsikaOptions/CoREAS/grid.h
!coast/CorsikaOptions/CoREAS/groundarea.cpp
!coast/CorsikaOptions/CoREAS/groundarea.h
!coast/CorsikaOptions/CoREAS/groundelement.cpp
!coast/CorsikaOptions/CoREAS/groundelement.h
!coast/CorsikaOptions/CoREAS/scenarioparams.cpp
!coast/CorsikaOptions/CoREAS/scenarioparams.h
!coast/CorsikaOptions/CoREAS/sumparallelresults.cpp
!coast/CorsikaOptions/CoREAS/threevector.cpp
!coast/CorsikaOptions/CoREAS/threevector.h
!coast/CorsikaOptions/InclinedPlane/InclinedPlane.cc
!coast/CorsikaOptions/InclinedPlane/Makefile.am
!coast/CorsikaOptions/InclinedPlane/Makefile.in
!coast/CorsikaOptions/InclinedPlane/Plane.h
!coast/CorsikaOptions/InclinedPlane/TPlotter.cc
!coast/CorsikaOptions/InclinedPlane/TPlotter.h
!coast/CorsikaOptions/Makefile.am
!coast/CorsikaOptions/Makefile.in
!coast/CorsikaOptions/example/Makefile
!coast/CorsikaOptions/example/README
!coast/CorsikaOptions/example/coast.cc
!coast/CorsikaOptions/rootout/CorsikaROOTOut.cc
!coast/CorsikaOptions/rootout/MachineIndependent.cc
!coast/CorsikaOptions/rootout/Makefile.am
!coast/CorsikaOptions/rootout/Makefile.in
!coast/CorsikaROOT/DirectROOTLinkDef.h
!coast/CorsikaROOT/Makefile.am
!coast/CorsikaROOT/Makefile.in
!coast/CorsikaROOT/TCherenkov.cc
!coast/CorsikaROOT/TCherenkov.h
!coast/CorsikaROOT/TLongitudinal.cc
!coast/CorsikaROOT/TLongitudinal.h
!coast/CorsikaROOT/TParticle.cc
!coast/CorsikaROOT/TParticle.h
!coast/CorsikaROOT/TRun.cc
!coast/CorsikaROOT/TRun.h
!coast/CorsikaROOT/TShower.cc
!coast/CorsikaROOT/TShower.h
!coast/CorsikaToROOT/MCorsikaReader.cc
!coast/CorsikaToROOT/MCorsikaReader.h
!coast/CorsikaToROOT/Makefile.am
!coast/CorsikaToROOT/Makefile.in
!coast/CorsikaToROOT/TC2R.cc
!coast/CorsikaToROOT/TC2R.h
!coast/CorsikaToROOT/corsika2root.cc
!coast/Documentation/Doxy_MainPage.dox
!coast/Documentation/Doxy_footer.html
!coast/Documentation/Doxyfile.in
!coast/Documentation/Examples/master/3D/COAST3DConfig.config
!coast/Documentation/Examples/master/3D/Interface.cc
!coast/Documentation/Examples/master/3D/Makefile
!coast/Documentation/Examples/master/3D/TPlotter.cc
!coast/Documentation/Examples/master/3D/TPlotter.h
!coast/Documentation/Examples/novice/advanced/CorsikaROOTPlotter.cc
!coast/Documentation/Examples/novice/advanced/CorsikaROOTPlotterInterface.cc
!coast/Documentation/Examples/novice/advanced/Makefile
!coast/Documentation/Examples/novice/advanced/TCorsikaPlotter.cc
!coast/Documentation/Examples/novice/advanced/TCorsikaPlotter.h
!coast/Documentation/Examples/novice/advanced/TSimpleReader.cc
!coast/Documentation/Examples/novice/advanced/TSimpleReader.h
!coast/Documentation/Examples/novice/expert/CompareAnim.cc
!coast/Documentation/Examples/novice/expert/ExpertInterface.cc
!coast/Documentation/Examples/novice/expert/MakeAnim.cc
!coast/Documentation/Examples/novice/expert/MakeAnim2D.cc
!coast/Documentation/Examples/novice/expert/Makefile
!coast/Documentation/Examples/novice/expert/TPlotter.cc
!coast/Documentation/Examples/novice/expert/TPlotter.h
!coast/Documentation/Examples/novice/expert/extractTH2D.C
!coast/Documentation/Examples/novice/medium/Makefile
!coast/Documentation/Examples/novice/medium/ReaderExample.cc
!coast/Documentation/Examples/novice/medium/TReaderExample.cc
!coast/Documentation/Examples/novice/medium/TReaderExample.h
!coast/Documentation/Examples/novice/simple/CorsikaPlotter.cc
!coast/Documentation/Examples/novice/simple/Makefile
!coast/Documentation/Makefile.am
!coast/Documentation/Makefile.in
!coast/INSTALL
!coast/Makefile.am
!coast/Makefile.in
!coast/README
!coconut
!conex/Makefile.am
!conex/Makefile.in
#!conex/conex-6.4000.tar.gz
!config/compile
!config/config.guess
!config/config.sub
!config/depcomp
!config/install-sh
!config/ltmain.sh
!config/missing
!config/mkinstalldirs
!configure
!configure.ac
!doc/CORSIKA_GUIDE7.7000.pdf
!doc/CORSIKA_PHYSICS.pdf
!doc/MPI-Runner_GUIDE.pdf
!doc/MPI-Runner_PHYSICS.pdf
!doc/Makefile.am
!doc/Makefile.in
!doc/references.tex
!dpmjet/Makefile.am
!dpmjet/Makefile.in
!dpmjet/build.f
!dpmjet/dpmjet.f
!dpmjet/phojet.f
!dpmjet/pythia-6427_cors.f
!epos/Makefile.am
!epos/Makefile.in
!epos/epos-lhc-v3400_cors.tar.gz
!herwig/HERWIG65.INC
!herwig/HERWIG_C.INC
!herwig/Makefile.am
!herwig/Makefile.in
!herwig/README
!herwig/herwig6521.inc
!herwig/herwig_corsika.f
!include/config.h.in
!lib/Makefile.am
!lib/Makefile.in
!m4/libtool.m4
!m4/ltoptions.m4
!m4/ltsugar.m4
!m4/ltversion.m4
!m4/lt~obsolete.m4
!nexus/Makefile.am
!nexus/Makefile.in
!nexus/nexus3.97_cors.tar.gz
!pythia/Makefile.am
!pythia/Makefile.in
!pythia/pythia-6.4.11.tar.gz
!run/EGSDAT6_.05
!run/EGSDAT6_.15
!run/EGSDAT6_.25
!run/EGSDAT6_.4
!run/EGSDAT6_1.
!run/EGSDAT6_3.
!run/Makefile.am
!run/Makefile.in
!run/NUCNUCCS
!run/QGSDAT01
!run/SECTNU
!run/UrQMD-1.3.1-xs.dat
!run/VENUSDAT
!run/all-inputs
!run/all-inputs-epos
!run/all-inputs-nexus
!run/all-inputs-st
!run/all-inputs-stackin
!run/all-inputs-thin
!run/atmabs.dat
!run/conex-3D-inputs
!run/dpmCT14LL.pds
!run/dpmjpar.dat
!run/glaubint.glb
!run/glaubtar.glb
!run/gr3.txt
!run/mirreff.dat
!run/parallel-inputs
#!run/qgsdat-II-04
!run/quanteff.dat
!run/sectnu-II-04
!src/Makefile.am
!src/Makefile.in
!src/corsika.F
!src/corsika.h
!src/elfield.c
!src/gheisha_2002d.f
!src/parallel/acreinpbwc.f
!src/parallel/acreinpbwc.sh
!src/parallel/acreinpfh1.f
!src/parallel/acreinpfh1.sh
!src/parallel/concatcorsika.f
!src/parallel/concatcorsika.sh
!src/parallel/corsika-initial-ik3.sh
!src/parallel/corsika-initial.ik3.sh
!src/parallel/corsika-initial.ll.sh
!src/parallel/corsika-initial.local.sh
!src/parallel/corsika-initial.sh
!src/parallel/corsika-secondary-ik3.sh
!src/parallel/corsika-secondary.ik3.sh
!src/parallel/corsika-secondary.ll.sh
!src/parallel/corsika-secondary.local.sh
!src/parallel/corsika-secondary.sh
!src/parallel/mpi_runner.c
!src/parallel/pllselectecuts.c
!src/parallel/pllselectmjobs.c
!src/parallel/postprocess-ik3.sh
!src/parallel/postprocess-ll.sh
!src/parallel/postprocess.sh
!src/parallel/postprocesscray.sh
!src/parallel/postprocessnew.sh
!src/parallel/postprocessreas.sh
!src/parallel/preprocess-ik3.sh
!src/parallel/preprocess-ll.sh
!src/parallel/resetopt2gflags.sh
!src/parallel/runnewparallel.sh
!src/parallel/showanalyrun-ll.sh
!src/parallel/showanalyrun.sh
!src/parallel/showanalyscc-ll.sh
!src/parallel/showanalyscc.sh
!src/parallel/showparallel.f
!src/parallel/showparallel.sh
!src/parallel/showpllparams.f
!src/parallel/showpllparams.sh
!src/parallel/showversion-parallel.sh
!src/parallel/sortaugerhit.f
!src/parallel/sortaugerhit.sh
!src/parallel/stat-job.sh
!src/parallel/statistics.sh
!src/parallel/sumprocessing-ll.sh
!src/parallel/sumprocessing.sh
!src/parallel/sumrawcoreas.f
!src/parallel/sumrawcoreas.sh
!src/parallel/totaljobfile.f
!src/parallel/totaltime.f
!src/parallel/totaltimeik3.f
!src/parallel/totaltimenew.f
!src/parallel/unsetoptflags.sh
!src/parallel/userguide-pll-bwcluster.txt
!src/parallel/userguide-pll-forhlr1.txt
!src/parallel/userguide-pll-juelich.txt
!src/parallel/userguide-pll-scripts-KIT-IKP.txt
!src/parallel/userguide-pll-scripts.txt
!src/parallel/userguide-pll-stuttgart.txt
!src/preshower2.0-rev/README.txt
!src/preshower2.0-rev/preshw.c
!src/preshower2.0-rev/utils.c
!src/preshower2.0-rev/utils.h
!src/preshower2.0-rev/veto.c
!src/preshower2.0-rev/veto.h
!src/qgsjet-II-04.f
!src/qgsjet01d.f
!src/sibyll2.3c.f
!src/timerc.c
!src/tobuf.c
!src/trapfpe.c
!src/utils/README
!src/utils/bcreinpcont.cpp
!src/utils/bcreinpcont.f
!src/utils/coast/CorsikaMerge/Makefile
!src/utils/coast/CorsikaMerge/README
!src/utils/coast/CorsikaMerge/check_corsika.cc
!src/utils/coast/CorsikaMerge/merge_corsika.cc
!src/utils/coast/CorsikaRead/CorsikaPlotter.cc
!src/utils/coast/CorsikaRead/CorsikaReader.cc
!src/utils/coast/CorsikaRead/Makefile
!src/utils/coast/CorsikaRead/README
!src/utils/cors2input.cpp
!src/utils/cors2input.f
!src/utils/corsikahisto.f
!src/utils/corsikahisto_mthin.f
!src/utils/corsikahisto_thin.f
!src/utils/corsikaread.cpp
!src/utils/corsikaread.f
!src/utils/corsikaread_history.f
!src/utils/corsikaread_thin.f
!src/utils/corsplitevts.f
!src/utils/cskreadme.sh
!src/utils/gdastool
!src/utils/map2png.c
!src/utils/modelprint.f
!src/utils/plottracks3c.f
!src/utils/rcorsik2beok.cpp
!src/utils/readcorsika.cpp
!src/utils/readcsk2asci.f
!src/utils/readcsk2beok.f
!src/utils/readcsk2prtcls.f
!src/utils/readcsk2prtcls.sh
!src/utils/readcskralplot.f
!src/utils/readcskralplot.sh
!src/utils/readmthinmuons.f
!src/utils/readmthinmuons.sh
!src/utils/readmthinprtcls.f
!src/utils/readmthinprtcls.sh
!src/utils/readparticall.f
!src/utils/readparticall.sh
!src/utils/readparticles.f
!src/utils/readtimes.f
!src/utils/readtimes.sh
!src/utils/readtimesnew.f
!src/utils/seconds2date.c
!src/utils/shdatareduction.f
!src/utils/shdatareduction.sh
!src/utils/shdatatanks.f
!src/utils/shdatatanks.pmsoutab
!src/utils/shdatatanks.sh
!src/utils/showintact1st.f
!src/utils/showintact1st.sh
!src/utils/showsimprods.f
!src/utils/showsimprods.sh
!src/utils/showsimulist.cpp
!src/utils/showsimulist.f
!src/utils/showsimulist.sh
!src/utils/showversion-corsika.sh
!src/utils/sortaugerhit.f
!src/utils/sortaugerhit.sh
!src/utils/sumlistnkginfo.f
!src/utils/sumlistnkginfo.sh
!src/utils/sumlongifiles.f
!src/utils/sumlongifiles.sh
!src/utils/summ
!src/utils/summ.sh
!src/utils/summe
!src/utils/summe.f
!src/utils/work.inc
!src/venus.f
!urqmd/Makefile.am
!urqmd/Makefile.in
!urqmd/urqmd1.3_cors.tar.gz
